* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 700;
}

html, body {
  background: #EEE5E9;
}

header {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
header ul {
  padding: 1.2em 0 0.5em;
}
header span {
  padding: 0 0 0 0.5em;
}
header span, header i {
  color: #2B2D42;
}
header i:nth-of-type(2) {
  cursor: pointer;
}

table{
  width: 100%;
  text-align: center;  
}
th,td {
  padding: 25px;
}
thead tr{
  background-color: #f2f2f2;
}
tr{
  background-color: white;
}
tr:nth-of-type(2n){
  background-color: #f2f2f2;
}


.row {
  width: 100%;
  padding: 0px 65px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.product {
  background-color: white;
  -webkit-box-shadow: 1px 5px 15px #CCC;
          box-shadow: 1px 5px 15px #CCC;
  width: 13em;
  height: auto;
  border-radius: 3px;
  padding: 1em;
  margin: 1em;
  overflow: hidden;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.product img{
  text-align: center;
}
.product_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
.product_inner p {
  color: black;
  font-family: 'Ropa Sans', sans-serif;
  margin-top: 0.5em;
}
.product_inner button {
  border: 1px solid gray;
  color: black;
  border-radius: 3px;
  padding: 1em 3em;
  margin: 1em 0 0 0;
  background: none;
  cursor: pointer;
  -webkit-transition: background ease-in .25s;
  transition: background ease-in .25s;
}

.product_inner button .compared{
  border: 1px solid gray;
  color: black;
  border-radius: 3px;
  padding: 1em 3em;
  margin: 1em 0 0 0;
  background: none;
  cursor: pointer;
  -webkit-transition: background ease-in .25s;
  transition: background ease-in .25s;
}

.product_inner button:hover {
  background: white;
  color: #2B2D42;
}
